%section#about
  .line-behind-text
    %h1 About
  %p
    Flash is a "command search engine" in the style of
    %a{ href: "http://yubnub.org/" } yubnub
    and
    %a{ href: "http://www.bunny1.org/" } bunny1
    \. It's a faster way of finding things, like users or purchases, on internal company admin sites.
