%section
  %form{ action: "/config", method: "post" }
    .line-behind-text
      %h1 Google Credentials
    %p You will need to setup an application to use the Google OAuth API
    %ol.default
      %li
        go to
        %a{ href: "https://console.developers.google.com/project" } the google developer console
    %label{ for: "client_id" } Google Client ID
    %input{ type: "text", name: "google_client_id", value: client_id }
    %label{ for: "client_secret" } Google Client Secret
    %input{ type: "text", name: "google_client_secret", value: client_secret }
    .line-behind-text
      %h1 Company Information
    %label{ for: "company_name" } Company Name
    %input{ type: "text", name: "company_name", value: company_name }
    %label{ for: "regex_matcher" }
      Regex Email Domain Filter
      .tooltip-item
        %code ?
        .tooltip
          %p
            This is used to filter out email addresses that do not match your company's domain.
          %p
            You can use
            %a{href: "http://rubular.com"} rubular.com
            to test that the regular expression matches correctly.
          %p
            The regex match is performed on all characters after the
            %code @
            symbol in the email address of a user connected through Google:
          %p
            %code some_user_name@/YOUR_REGEX/
    %input{ type: "text", name: "regex_matcher", value: regex_matcher, placeholder: "e.g. google\\.com" }
    .line-behind-text
      %h1 App Information
    %label{ for: "url" } URL
    %input{ type: "text", name: "url", value: url, placeholder: "e.g. http://myflashapp.herokuapp.com" }
    %label{ for: "url" }
      App Name
      .tooltip-item
        %code ?
        .tooltip
          %p
            This is used as the shortname to help the user set up the app on the
            %code About
            page.
          %p Works best when the first few letters match the first few letters of the url above.
    %input{ type: "text", name: "app_name", value: app_name, placeholder: 'MyFlashApp' }
    %label
      Users can create Commands
      .tooltip-item
        %code ?
        .tooltip
          %p When disabled, only authorized admins can create/edit commands.
    %label.label-switch
      %input{ type: "checkbox", name: "command_editing_enabled", checked: command_editing_enabled }
      .checkbox
    %label{ for: "admin_users" }
      %i optional
      Authorized Admin Email Addresses
      %i **warning**
      .tooltip-item
        %code ?
        .tooltip
          %p A comma-separated list of administrators that have access to the "configure" page.
          %p DO NOT set this until you have confirmed the OAuth credentials above work.
          %p This could potentially lock you out of the application (if OAuth does not work, or you add the wrong email addresses here)
    %input{ type: "text", name: "admin_users", value: admin_users, placeholder: "admin1@yourcompany.com, admin2@yourcompany.com"}
    %p
      %input{ type: "submit", value: "Save Changes" }
