%header.navigation
  .navigation-wrapper
    %a.logo{href: "#"}
      %img{:alt => "Logo Image", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png"}
