%section#search
  .line-behind-text
    %h1 Search
  .search-inner
    %form{ action: '/search', method: 'get' }
      %input{type: 'text', name: 'q', placeholder: 'what do you want to search for? (see commands below)'}
