%section#setup
  .line-behind-text
    %h1 Setup (Chrome)
  %ol.default
    %li Click the menu button on the browser toolbar
    %li
      Click
      %b settings
      , click
      %b Manage search engines...
      under
      %b Search
    %li Scroll down to the bottom to add a new search engine
    %li Fill in the fields as follows:
    %default-ul
      %li
        Add a new search engine
        %code "#{Cache.get(:app_name)}"
      %li
        Keyword
        %code "#{Cache.get(:url).gsub(/^https?:\/\//,'')}"
      %li
        Url with %s in place
        %code= "#{Cache.get(:url)}/search?q=%s"
    %li
      Hit
      %b Done
