%section#setup
  %h1 Setup (Chrome)
  %ol
    %li Click the menu butotn on the browser toolbar
    %li
      Click
      %b settings
      , click
      %b Manage search engines...
      under
      %b Search
    %li Scroll down to the bottom to add a new search engine
    %li Fill in the fields as follows:
    %ul
      %li
        Add a new search engine
        %code Flash
      %li
        Keyword
        %code lollipopapp.herokuapp.com
      %li
        Url with %s in place
        %code http://lollipopapp.herokuapp.com/search?q=%s
    %li
      Hit
      %b Done
