%section
  %form{ action: "/commands", method: "post" }
    %ul
      %li
        %label{ for: "name" } Name:
        %input{ type: "text", name: "name", value: command.name }
      %li
        %label{ for: "url" } URL:
        %input{ type: "text", name: "url", value: command.url }
      %li
        %label{ for: "description" } Description:
        %input{ type: "text", name: "description", value: command.description }
      %li
        %label{ for: "description" } Example Query Parameter:
        %input{ type: "text", name: "example", value: command.example }
    - unless command.new?
      %input{ type: "hidden", name: "id", value: command.id }
    %input{ type: "submit" }
