%form{ action: "/commands", method: "post" }
  %ul
    %li
      %label{ for: "name" } Name:
      %input{ type: "text", name: "name", value: command.try(:name) }
    %li
      %label{ for: "url" } URL:
      %input{ type: "text", name: "url", value: command.try(:url) }
    %li
      %label{ for: "description" } Description:
      %input{ type: "text", name: "description", value: command.try(:description) }
  %input{ type: "submit" }
